		<ul>
		<li class="show"> <b>Director Name :</b><%= @directordetail.name %></li>
		<li class="show"><b> Gender :</b><%= @directordetail.gender %></li>
		<li class="show"> <b>Birthday :</b><%= @directordetail.dob %></li>
		
		<li class="show"><%= @directordetail.created_at %></li>
	</ul>