		<ul>
		<li class="show"> <b>Actor Name :</b><%= @actordetail.name %></li>
		<li class="show"> <b>Gender:</b><%= @actordetail.gender %></li>
		<li class="show"> <b>Birthday :</b><%= @actordetail.dob %></li>
		
		<li class="show"><%= @actordetail.created_at %></li>
	</ul>