
<head>
	<style>
	li{
		padding: 20px 30px 30px 230px;
		background-color: lightgreen;
		float: left;
	
	}
	a{

		padding: 20px 30px 30px 100px;
	}
	
		#header{
	background-color: black;
	width: 1550px;
	height:100px;

	}
	.indexpage{
		border: 1px solid black;
		width: 720px;
		height: 420px;
		float: left;
		font-size: 2em;
		word-wrap:break-word;
		text-align: center;
		padding: 10px;
		/*padding: 20px;*/
	}
	div .indexpage{
		padding: 2px;
	}
	.image{
		float: left;
		padding: 20px;

	}
	</style>
</head>
<body>
<div id="header">
<ul>
	<li><a href="movies"> Movies </a> </li>
	<li><a href="actordetails">Actors </a> </li>
	<li><a href="directordetails"> Directors </a> </li>
</ul>
</div>
<br><br>
<div class="indexpage">
	<img class="image" src="images/home2.jpg" width="400px" height="350px" alt="Batman">
  
	<b>Title: </b>Neram<br>
	<b>Director:</b> Alphonse Putharen<br>
	<b>Actor: </b>Nazriya Nazim,Nivin Pauly<br>
	<b>Released On:</b>2013-05-10<br>
	<b>Genre: </b>Romance<br>
	<b>Runtime:</b> 117<br>
	<b>Rating: </b>3.7<br>
	</div>

	<div class="indexpage">
	<img class="image" src="images/home1.jpg" width="400px" height="350px" alt="Batman">
  
	<b>Title: </b>Banglore Days<br>
	<b>Director:</b> Anjali Menon</b><br>
	<b>Actor: </b>Nazriya Nazim,Nivin Pauly,Nithya Menen</b><br>
	<b>Released On:</b>2014-05-30<br>
	<b>Genre: </b>Romance<br>
	<b>Runtime:</b> 172	<br>
	<b>Rating: </b>4.1<br>
	</div>

	<div class="indexpage">
	<img class="image" src="images/home3.jpg" width="400px" height="350px" alt="Batman">
  
	<b>Title: </b>Magadheera<br>
	<b>Director:</b> S.S Rajamouli</b><br>
	<b>Actor: </b>Ram Charan,Kajal Aggarwal<br>
	<b>Released On:</b>2009-07-31<br>
	<b>Genre: </b>History<br>
	<b>Runtime:</b> 172	<br>
	<b>Rating: </b>4.5<br>
	</div>

	<div class="indexpage">
	<img class="image" src="images/home4.jpeg" width="400px" height="350px" alt="Batman">
  
	<b>Title: </b>Finding Nemo<br>
	<b>Director:</b> Andrew Stanton</b><br>
	<b>Actor: </b>Albert Brooks,Ellen DeGeneres<br>
	<b>Released On:</b>2003-05-30<br>
	<b>Genre: </b>Animation<br>
	<b>Runtime:</b> 100	<br>
	<b>Rating: </b>4<br>
	</div>
<div class="indexpage">
	<img class="image" src="images/home5.jpg" width="400px" height="350px" alt="Batman">
  
	<b>Title: </b>Avengers<br>
	<b>Director:</b> Joss Whedon<br>
	<b>Actor: </b>Scarlett Johansson,Jeremy Renner<br>
	<b>Released On:</b>2012-04-11<br>
	<b>Genre: </b>Action<br>
	<b>Runtime:</b> 143	<br>
	<b>Rating: </b>4.4<br>
	</div>
</body>
</html>